.container {
    height: 50%;
    width: 100%;
}
h2{
    text-align: center;
}
.content {
    display: flex;
    justify-content: space-between;
}
.content p {
    width: 25%;
    text-align: center;
    font-weight: bold;
}
.items div {
    display: flex;
    justify-content: space-between;
}
.items p {
    width: 25%;
    text-align: center;
    border: solid 1px black;
}
.btn {
    display: block;
    margin: 0 auto;
}
.discount {
    padding-left: 40px;
}